.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal button{
    padding: 5px;
    margin-top: 10px;
    margin: 0 auto;
    width: 300px;
    background-color: #FCD200;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    cursor: pointer;
}

.subtotal button:hover{
    background-color: #fddd39;
}

.subtotal button:focus{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.abtnc{
    font-size: small;
    text-align: center;
    padding-bottom: 5px;
}

.tnc{
    font-size: small;
    text-align: center;
    margin-top: -20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.tnc a{
    text-decoration: none;
    color: #05a;
}

.tnc a:hover{
    color: #e47911;
}

.subtotal__gift{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.subtotal__gift input{
    margin-right: 5px;
}

.cost{
    display: flex;
    justify-content: right;
    margin-top: -20px;
}