.cart{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.cart__ad{
    width: 100%;
    margin-bottom: 10px;

}

.cart__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.cart__right{
    margin: 0 auto;
    margin-left: 3%;
    left: 2;
    width: auto;
    max-width: 92%;
}